*{
    font-family: 'Ubuntu', sans-serif;
    margin:0%;
    
}
body{
    background-image: url("../assets/background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    overflow-x: hidden;
    cursor: pointer;
    margin:0%;
    

}
@media screen and (max-width: 580px) {
    body{
    background-image: url("../assets/background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    overflow-x: hidden;
    cursor: pointer;
    margin:0%
    }
}
.home{

}
.akan{
    font-weight: 300;
    font-family: 'Playfair Display', serif;
}
.card-body p {
    font-size: 1.4vw;
    /* font-family: 'Playfair Display', serif; */
}
.details{
    margin-top: 5%;
}
#form{
    margin-top: 2%;
    font-size: large;
    margin-left:2%;
    
}
.btn .btn-primary{
    border: 0ch;
    margin-left:2%;
}
#output{
    /* background-color: antiquewhite; */
    color: white;
    cursor: pointer;
    font-size: 4vw;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    margin: 0%;
    margin-top: 2%;
}  

