*{
    font-family: 'Ubuntu', sans-serif;
}
body{
    /* background-image:url('assets/background.jpg'); */
}
.akan{
    font-weight: 300;
    font-family: 'Noto Sans JP', sans-serif;
}
    
    
    
}